<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/home.css" />

<body>
  <div class="home-container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="navbar-div collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:4003/admin/product/all">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:4003/admin/user/all">Users</a>
            </li>
          </ul>
          <div 
            class="logout-div"
            onclick="return confirm('Do you want to logout?')"
          >
            <a 
              class="nav-link btn btn-sm btn-outline-success" 
              href="http://localhost:4003/admin/logout"
              >
              Logout
            </a>
          </div> 
        </div>
      </nav>

      <div class="container">
        <div class="title-frame">
          <h2 class="page-title">Statistics</h2>
        </div>
        <!-- PRODUCTS statistics -->
        <div class="products-box">
          <div class="products-st-left">
            <div class="quantity-box">
              <h5>
                <%=statistics.products.process
                    +statistics.products.pause
                    +statistics.products.delete %> 
                Products
              </h5>
            </div>
          </div>

          <div class="products-st-right">
            <div class="title">Products information!</div>
            <div id="main-1" style="width: 100%; height:230px;"></div>
          </div>
        </div>

        <!-- USERS statistics -->
        <div class="users-box">
          <div class="users-st-left">
            <div class="quantity-box">
              <h5><%=statistics.users.active
                    +statistics.users.block
                    +statistics.users.delete %>  Users</h5>
            </div>
          </div>

          <div class="users-st-right">
            <div class="title">This is all users information!</div>
            <div id="main-2" style="width: 100%; height:230px;"></div>
          </div>
        </div>
      </div><!-- .container -->
  </div>
  
  <!-- PRODUCTS -->
  <div id="process" style="display: none;"><%=statistics.products.process%></div>
  <div id="pause" style="display: none;"><%=statistics.products.pause%></div>
  <div id="delete" style="display: none;"><%=statistics.products.delete%></div>

  <!-- USERS -->
  <div id="active" style="display: none;"><%=statistics.users.active%></div>
  <div id="block" style="display: none;"><%=statistics.users.block%></div>
  <div id="user-delete" style="display: none;"><%=statistics.users.delete%></div>

  <script>
    
    const obj = {
      process: Number(document.getElementById('process').innerHTML),
      pause: Number(document.getElementById('pause').innerHTML),
      delete: Number(document.getElementById('delete').innerHTML)
    };

    /* PRODUCTS CHART */
    var chartDom = document.getElementById('main-1');
    var myChart = echarts.init(chartDom);
    var option;

    option = {
      tooltip: {
        trigger: 'item'
      },
      // legend: {
      //   orient: 'vertical',
      //   left: 'right'
      // },
      series: [
        {
          type: 'pie',
          radius: '70%',
          color: [
              '#14e822ff',
              '#759aa0',
              '#dd6b66',
            ],
          data: [
            { value: obj.process, name: 'PROCESS' },
            { value: obj.pause, name: 'PAUSE' },
            { value: obj.delete, name: 'DELETE' },
          ],
          emphasis: {
            itemStyle: {
              shadowBlur: 10,
              shadowOffsetX: 0,
              shadowColor: 'rgba(0, 0, 0, 0.5)'
            }
          }
        }
      ]
    };

    option && myChart.setOption(option);






    const objUser = {
      active: Number(document.getElementById('active').innerHTML),
      block: Number(document.getElementById('block').innerHTML),
      delete: Number(document.getElementById('user-delete').innerHTML)
    };

    /* USERS CHART */
    var chartDom2 = document.getElementById('main-2');
    var myChart2 = echarts.init(chartDom2);
    var option2;

    option2 = {
      tooltip: {
        trigger: 'item'
      },
      // legend: {
      //   orient: 'vertical',
      //   left: 'right'
      // },
      series: [
        {
          type: 'pie',
          radius: '70%',
          color: [
              '#143be8ff',
              '#759aa0',
              '#dd6b66',
            ],
          data: [
            { value: objUser.active, name: 'ACTIVE' },
            { value: objUser.block, name: 'BLOCK' },
            { value: objUser.delete, name: 'DELETE' },
          ],
          emphasis: {
            itemStyle: {
              shadowBlur: 10,
              shadowOffsetX: 0,
              shadowColor: 'rgba(0, 0, 0, 0.5)'
            }
          }
        }
      ]
    };

    option2 && myChart2.setOption(option2);











  </script>
  <script type="text/javascript" src="/js/home.js"></script>
</body>

<%- include('includes/footer') %>