<%- include('includes/header') %>
<link rel="stylesheet" type="text/css" href="/css/product.css" />

<body>
  <div class="home-container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <div class="navbar-div collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item ">
              <a class="nav-link" href="http://localhost:4003/admin/home">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="http://localhost:4003/admin/product/all">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:4003/admin/user/all">Users</a>
            </li>
          </ul>
          <div 
            class="logout-div"
            onclick="return confirm('Do you want to logout?')"
          >
            <a 
              class="nav-link btn btn-sm btn-outline-success" 
              href="http://localhost:4003/admin/logout"
            >
              Logout
            </a>
          </div> 
        </div>
      </nav>


  
      <div class="container">
        <h2 class="page-title">
          <%=product.productName ? "Update product" :  "Create new product"%>
          
        </h2>
        <form 
          onsubmit="return validateForm()" 
          method="POST" 
          action="<%=product.productName ? "/admin/product/update" :  "/admin/product/create" %>"
        >
          <div class="row ">
            
            <input 
              name="productStatus" 
              type="text" 
              value="PROCESS" 
              class="product-status" 
              hidden
              >

            <div class="col-md-6">
              <div class="form-group row">
                <label for="productName" class="col-md-3 col-form-label" style="text-align: right;">Product Name:</label>
                <div class="col-md-9">
                  <input 
                    name="productName" 
                    type="text" 
                    class="form-control product-name" 
                    id="productName"
                    value="<%=product.productName%>"
                  >  
                </div>
              </div>
            </div><!-- .col -->

            <div class="col-md-6">
              <div class="form-group row">
                <label for="productBrand" class="col-md-3 col-form-label" style="text-align: right;">Brand:</label>
                <div class="col-md-9">
                  <select 
                    class="form-control product-brand"
                    name="productBrand" 
                    id="<%=product.productBrand%>" 
                  >
                    <option 
                      value="SAMSUNG" 
                      <%=product.productBrand === "SAMSUNG" ? "selected" : ""%>  
                    >
                      SAMSUNG
                    </option>
                    
                    <option 
                      value="APPLE"
                      <%=product.productBrand === "APPLE" ? "selected" : ""%>  
                    >
                      APPLE
                    </option>
                    
                    <option 
                      value="HUAWEI"
                      <%=product.productBrand === "HUAWEI" ? "selected" : ""%>
                    >
                      HUAWEI
                    </option>
                    
                    <option 
                      value="NOKIA"
                      <%=product.productBrand === "NOKIA" ? "selected" : ""%>
                    >
                      NOKIA
                    </option>
                    
                    <option 
                      value="MOTOROLA"
                      <%=product.productBrand === "MOTOROLA" ? "selected" : ""%>
                    >
                      MOTOROLA
                    </option>
                    
                    <option 
                      value="VIVO"
                      <%=product.productBrand === "VIVO" ? "selected" : ""%>
                    >
                      VIVO
                    </option>
                    
                    <option 
                      value="LG"
                      <%=product.productBrand === "LG" ? "selected" : ""%>
                    >
                      LG
                    </option>
                    
                    <option 
                      value="OTHER"
                      <%=product.productBrand === "OTHER" ? "selected" : ""%>
                    >
                      OTHER
                    </option>
                  </select>
                </div>
              </div>
            </div><!-- .col -->

            <div class="col-md-6">
              <div class="form-group row">
                <label for="productCollection" class="col-md-3 col-form-label " style="text-align: right;">Category:</label>
                <div class="col-md-9">
                  <select 
                    class="form-control product-collection"
                    name="productCollection" 
                    id="<%=product.productCollection%>" 
                  >
                    <option 
                      value="SMARTPHONE"  
                      <%=product.productCollection === "SMARTPHONE" ? "selected" : ""%>
                    >
                      SMARTPHONE
                    </option>
                    
                    <option 
                      value="FOLDABLE"
                      <%=product.productCollection === "FOLDABLE" ? "selected" : ""%>
                    >
                      FOLDABLE
                    </option>
                    
                    <option 
                      value="BASIC"
                      <%=product.productCollection === "BASIC" ? "selected" : ""%>
                    >
                      BASIC
                    </option>
                    
                    <option 
                      value="RUGGED"
                      <%=product.productCollection === "RUGGED" ? "selected" : ""%>
                    >
                      RUGGED
                    </option>
                    
                    <option 
                      value="OTHER"
                      <%=product.productCollection === "OTHER" ? "selected" : ""%>
                    >
                      OTHER
                    </option>
                  </select>
                </div>
              </div>
            </div><!-- .col -->
            
            <div class="col-md-6">
              <div class="form-group row">
                <label for="productOperationSystem" class="col-md-3 col-form-label " style="text-align: right;">Op. System:</label>
                <div class="col-md-9">
                  <select 
                    class="form-control product-op-sys"
                    name="productOpSystem" 
                    id="<%=product.productOpSystem%>"
                  >
                    <option 
                      value="ANDROID" 
                      <%=product.productOpSystem === "ANDROID" ? "selected" : ""%> 
                    >
                      ANDROID
                    </option>
                    
                    <option 
                      value="IOS"
                      <%=product.productOpSystem === "IOS" ? "selected" : ""%>
                    >
                      IOS
                    </option>
                    
                    <option 
                      value="OTHER"
                      <%=product.productOpSystem === "OTHER" ? "selected" : ""%>
                    >
                      OTHER
                    </option>
                  </select>
                </div>
              </div>
            </div><!-- .col -->

            <div class="col-md-6">
              <div class="form-group row">
                <label for="productRam" class="col-md-3 col-form-label" style="text-align: right;">RAM:</label>
                <div class="col-md-9">
                  <input 
                    name="productRam" 
                    type="number" 
                    class="form-control product-ram" 
                    id="productRam"
                    value="<%=product.productRam%>"
                    >
                </div>
              </div>
            </div><!-- .col -->

             <div class="col-md-6">
              <div class="form-group row">
                <label for="productMemory" class="col-md-3 col-form-label" style="text-align: right;">Memory:</label>
                <div class="col-md-9">
                  <input 
                    name="productMemory" 
                    type="number" 
                    class="form-control product-memory" 
                    id="productMemory"
                    value="<%=product.productMemory%>"
                  >
                </div>
              </div>
            </div><!-- .col -->

            <div class="col-md-6">
              <div class="form-group row">
                <label for="productPrice" class="col-md-3 col-form-label " style="text-align: right;">Price:</label>
                <div class="col-md-9">
                  <input 
                    name="productPrice" 
                    type="number" 
                    class="form-control product-price" 
                    id="productPrice"
                    value="<%=product.productPrice%>"
                  >
                </div>
              </div>
            </div><!-- .col -->

            <div class="col-md-6">
              <div class="form-group row">
                <label for="productLeftCount" class="col-md-3 col-form-label" style="text-align: right;">Left counts:</label>
                <div class="col-md-9">
                  <input 
                    name="productLeftCount" 
                    type="number" 
                    class="form-control product-left-count" 
                    id="productLeftCount"
                    value="<%=product.productLeftCount%>"
                  >
                </div>
              </div>
            </div><!-- .col -->

            <div class="col-md-6">
              <div class="form-group row">
                <label for="productCpuSpeed" class="col-md-3 col-form-label" style="text-align: right;">CPU speed:</label>
                <div class="col-md-9">
                  <input 
                    name="productCpuSpeed" 
                    type="number" 
                    step="0.01"
                    class="form-control product-cpu-speed" 
                    id="productCpuSpeed"
                    value="<%=product.productCpuSpeed%>"
                  >
                </div>
              </div>
            </div><!-- .col -->

            <div class="col-md-6">
              <div class="form-group row">
                <label for="productResolution" class="col-md-3 col-form-label" style="text-align: right;">Resolution:</label>
                <div class="col-md-9">
                  <select name="productResolution" id="" class="form-control product-resolution">
                    <option value="1280 x 720" selected >HD</option>
                    <option value="1920 x 1080">FULL_HD</option>
                    <option value="2560 x 1440">QUAD_HD</option>
                    <option value="3840 x 2160">ULTRA_HD</option>
                    <option value="OTHER">OTHER</option>
                  </select>
                </div>
              </div>
            </div><!-- .col -->

            <div class="col-md-6">
              <div class="form-group row">
                <label for="productScreenSize" class="col-md-3 col-form-label" style="text-align: right;">Screen size:</label>
                <div class="col-md-9">
                  <input 
                    name="productScreenSize" 
                    type="number"
                    step="0.01" 
                    class="form-control product-screen-size" 
                    id="productScreenSize"
                    value="<%=product.productScreenSize%>"
                    >
                </div>
              </div>
            </div><!-- .col -->

            <div class="col-md-6">
              <div class="form-group row">
                <label for="productBattery" class="col-md-3 col-form-label" style="text-align: right;">Battery:</label>
                <div class="col-md-9">
                  <input 
                    name="productBattery" 
                    type="number" 
                    class="form-control product-battery" 
                    id="productBattery"
                    value="<%=product.productBattery%>"
                    >
                </div>
              </div>
            </div><!-- .col -->

            <div class="col-md-6">
              <div class="form-group row">
                <label for="productCamera" class="col-md-3 col-form-label" style="text-align: right;">Camera:</label>
                <div class="col-md-9">
                  <input 
                    name="productCamera" 
                    type="number" 
                    class="form-control product-camera" 
                    id="productCamera"
                    value="<%=product.productCamera%>"
                  >
                </div>
              </div>
            </div><!-- .col -->

            <div class="col-md-6">
              <div class="form-group row">
                <label 
                  for="productDesc" 
                  class="col-md-3 col-form-label"
                  style="text-align: right;"
                >
                Description:
                </label>
                <div class="col-md-9">
                  <textarea 
                    name="productDesc" 
                    type="text" 
                    class="form-control product-desc" 
                    id="productDesc" 
                    rows="4" 
                    cols="50"
                    value="<%=product.productDesc%>"
                  >
                  </textarea>
                </div>
              </div>
            </div><!-- .col -->
          </div><!-- .row -->

          
          <!-- IMAGES SECTION -->
          <div class="row img-frame justify-content-around">
            
            <div class="col-md-2 mr-1 img-column">
              <div class="upload-img-box">
                <img 
                  src="<%=product?.productImages[0] ? "http://localhost:4003/"+product.productImages[0] : "/img/upload2.png" %>" 
                  class="1" 
                  onclick="uploadPhotoInput('image-one')" 
                  id="image-section-1" 
                />
                <input
                  type="file"
                  id="file"
                  name="productImages"
                  class="image-one"
                  hidden
                  required
                  onchange="previewFileHandler(this, 1)"
                />
              </div>
            </div><!-- .col -->
            
            <div class="col-md-2 mr-1 img-column">
              <div class="upload-img-box">
                <img 
                  src="<%=product?.productImages[1] ? "http://localhost:4003/"+product.productImages[1] : "/img/upload2.png" %>" 
                  class="2" 
                  onclick="uploadPhotoInput('image-two')" 
                  id="image-section-2" 
                />
                <input
                  type="file"
                  id="file"
                  name="productImages"
                  class="image-two"
                  hidden
                  onchange="previewFileHandler(this, 2)"
                />
              </div>
            </div><!-- .col -->
            
            <div class="col-md-2 mr-1 img-column">
              <div class="upload-img-box">
                <img 
                  src="<%=product?.productImages[2] ? "http://localhost:4003/"+product.productImages[2] : "/img/upload2.png" %>" 
                  class="3" 
                  onclick="uploadPhotoInput('image-three')" 
                  id="image-section-3" 
                />
                <input
                  type="file"
                  id="file"
                  name="productImages"
                  class="image-three"
                  hidden
                  onchange="previewFileHandler(this, 3)"
                />
              </div>
            </div><!-- .col -->
            
            <div class="col-md-2 mr-1 img-column">
              <div class="upload-img-box">
                <img 
                  src="<%=product?.productImages[3] ? "http://localhost:4003/"+product.productImages[3] : "/img/upload2.png" %>" 
                  class="4" 
                  onclick="uploadPhotoInput('image-four')" 
                  id="image-section-4" 
                />
                <input
                  type="file"
                  id="file"
                  name="productImages"
                  class="image-four"
                  hidden
                  onchange="previewFileHandler(this, 4)"
                />
              </div>
            </div><!-- .col -->
            <div class="col-md-2 mr-1 img-column">
              <div class="upload-img-box">
                <img 
                  src="<%=product?.productImages[4] ? "http://localhost:4003/"+product.productImages[4] : "/img/upload2.png" %>" 
                  class="5" 
                  onclick="uploadPhotoInput('image-five')" 
                  id="image-section-5" 
                />
                <input
                  type="file"
                  id="file"
                  name="productImages"
                  class="image-five"
                  hidden
                  onchange="previewFileHandler(this, 5)"
                />
              </div>
            </div><!-- .col -->

          </div><!-- .row -->

          <div class="d-flex flex-row justify-content-between mt-3">
            <a href="/admin/product/all" class="btn btn-danger ml-5">Cancel</a>
            <button type="submit" class="btn btn-primary">
              <%=product?.productName ? "Save" : "Create" %>
            </button>
          </div>
          
          
        </form>
      </div>
      
  </div>

  
<script type="text/javascript" src="/js/product.js"></script>
</body>

<%- include('includes/footer') %>