<%- include('includes/header') %>

<body>
  <div>This is products page</div>
  <div><%=member.memberNick%></div>

  <% products.map( (value, key) => { %>
    <p><%=value.productName%> = <%=value.productBrand%></p>
  <% }) %>

</body>

<%- include('includes/footer') %>