<%- include('includes/header') %>
<link rel="stylesheet" type="text/css" href="/css/products.css" />

<body>
  <div class="home-container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <div class="navbar-div collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item ">
              <a class="nav-link" href="http://localhost:4003/admin/home">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:4003/admin/user/all">Users</a>
            </li>
          </ul>

          <div 
            class="logout-div"
            onclick="return confirm('Do you want to logout?')"
          >
            <a 
              class="nav-link btn btn-sm btn-outline-success" 
              href="http://localhost:4003/admin/logout"
              >
              Logout
            </a>
          </div> 

        </div>
        
         


      </nav>
      


  
      <div class="container">
        <div class="title-frame">
          <h2 class="page-title">Products</h2>
          <a class="btn btn-primary  create-btn" href="http://localhost:4003/admin/product/new">Create</a>
        </div>
        <table class="table table-striped table-bordered">
          <thead>
            <tr style="text-align: center">
              <th scope="col" style="width: 10%;">№</th>
              <th scope="col" style="width: 35%;">Name</th>
              <th scope="col" style="width: 20%;">Brand</th>
              <th scope="col" style="width: 10%;">Price</th>
              <th scope="col" style="width: 10%;">Quantity</th>
              <th scope="col" style="width: 15%;">Status</th>
            </tr>
          </thead>
          <tbody>
            <% products.map((ele, index) => { %>
            <tr>
              <th style="text-align: center"><%=++index%></th>
              <td><%=ele.productName%></td>
              <td><%=ele.productBrand%></td>
              <td style="text-align: right;"><%=ele.productPrice%>$</td>
              <td style="text-align: center;"><%=ele.productLeftCount%></td>
              <td>
                <select 
                  class="form-control new-product-status" 
                  id="<%=ele._id%>"
                >
                  <option 
                    value="PROCESS"
                    <%=ele.productStatus === "PROCESS" ? "selected" : ""%> > 
                    PROCESS
                  </option>
                  
                  <option 
                    value="PAUSE"
                    <%=ele.productStatus === "PAUSE" ? "selected" : ""%> >
                      PAUSE
                  </option>
                  
                  <option 
                    value="DELETE"
                    <%=ele.productStatus === "DELETE" ? "selected" : ""%> >
                    DELETE
                  </option>
                </select>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      
  </div>

  
<script type="text/javascript" src="/js/products.js"></script>
</body>

<%- include('includes/footer') %>